In [4]:
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
from azureml.core import Workspace, Dataset

subscription_id = 'e0aea639-33c2-4371-83bb-f4876bdc9fe3'
resource_group = 'MachineLearningGroup'
workspace_name = 'mlwrkspcdemo'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='datasetdemo1')
dataset.to_pandas_dataframe()

            age inference_date  inference_score
2020-01-01   50     2020-01-01         0.536320
2020-01-01   47     2020-01-01         0.098837
2020-01-01   36     2020-01-01         0.896746
2020-01-01   32     2020-01-01         0.965748
2020-01-01   38     2020-01-01         0.338069
...         ...            ...              ...
2020-01-08   28     2020-01-08         0.493957
2020-01-08   37     2020-01-08         0.615697
2020-01-08   40     2020-01-08         0.536961
2020-01-08   34     2020-01-08         0.590317
2020-01-08   51     2020-01-08         0.093435

[200000 rows x 3 columns]